version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-infrastructure:
        patterns:
          - "actions/*"
    cooldown:
      default-days: 7
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: weekly
    groups:
      uv:
        patterns:
          - "*"
    cooldown:
      default-days: 7
