name: Python

on:
  push:
    branches:
      - main
      - master
      - maint/*
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - master
      - maint/*
  schedule:
    # 8am EST / 9am EDT Mondays
    - cron: '0 13 * * 1'
  workflow_dispatch:

defaults:
  run:
    shell: bash -el {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

  # Ensure tests can sense settings about the environment
  TOX_OVERRIDE: >-
    testenv.pass_env+=GITHUB_*,FORCE_COLOR

jobs:
  build:
    name: Build & verify package
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2
        with:
          attest-build-provenance-github: ${{ github.event_name != 'pull_request' }}

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python:
        # SPEC0+
        - '3.10'
        - '3.11'
        # /SPEC0+
        # SPEC0
        - '3.12'
        - '3.13'
        - '3.14'
        # /SPEC0
        dependencies: ['latest']
        include:
        # SPEC0+
          - os: ubuntu-latest
            python-version: '3.10'
            dependencies: 'min'
        # /SPEC0+
        # SPEC0
          - os: ubuntu-latest
            python-version: '3.12'
            dependencies: 'min'
        # /SPEC0
    runs-on: ${{ matrix.os }}
    env:
      DEPENDS: ${{ matrix.dependencies }}
      # For use with pytest -m
      MARKS: ${{ matrix.marks }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          submodules: recursive
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7  # zizmor: ignore[cache-poisoning]
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: uv tool install tox --with=tox-uv --with=tox-gh-actions
      - name: Show tox config
        run: tox c
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false
      - name: Run tox
        run: tox --skip-pkg-install --exit-and-dump-after 1200
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ always() }}

  publish:
    name: Publish released package to pypi.org
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: [build, test]
    permissions:
      attestations: write
      id-token: write

    steps:
      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: Packages
          path: dist

      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1

  checks:
    name: Contribution checks
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        check: ['style', 'spellcheck', 'typecheck']

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7  # zizmor: ignore[cache-poisoning]
      - name: Install tox
        run: uv tool install tox --with=tox-uv
      - name: Show tox config
        run: tox c -e ${{ matrix.check }}
      - name: Run check
        run: tox -e ${{ matrix.check }}
