name: Pre-release

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  schedule:
    # 8am EST / 9am EDT Mondays
    - cron: '0 13 * * 1'
  # Allow job to be triggered manually from GitHub interface
  workflow_dispatch:

defaults:
  run:
    shell: bash

# Force tox and pytest to use color
env:
  FORCE_COLOR: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Test
    if: |
      github.event_name != 'pull_request'
      || contains(github.event.pull_request.labels.*.name, 'prerelease')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        python-version: ['3.12', '3.13', '3.14']
      fail-fast: false

    permissions:
      actions: write

    env:
      DEPENDS: pre

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          submodules: recursive
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: uv tool install tox --with=tox-uv --with=tox-gh-actions
      - name: Show tox config
        run: tox c
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false
      - name: Run tox
        run: tox --skip-pkg-install --exit-and-dump-after 1200
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ always() }}
